{% extends "layout.twig" %}

{% block content %}

<main id="content" role="main">
  
<div id="kss-node">

<div class="grid-row">
  <div class="column-one-quarter">

    <header class="kss-header">
      <h1 class="heading-medium">{{ options.title }}</h1>
    </header>

    <nav class="kss-nav">
      <ul class="kss-nav__menu font-xsmall">
        <li class="kss-nav__menu-item">
          <a class="kss-nav__menu-link" href="./">
            <span class="kss-nav__name">Overview</span>
          </a>
        </li>
      {% for menu_item in menu %}
        <li class="kss-nav__menu-item">
          <a class="kss-nav__menu-link" href="section-{{ menu_item.referenceURI }}.html">
            <span class="kss-nav__ref">{{ menu_item.referenceNumber }}</span><span class="kss-nav__name">{{ menu_item.header }}</span>
          </a>
          {% if menu_item.isActive and menu_item.children is not empty %}
            <ul class="kss-nav__menu-child">
            {% for menu_child in menu_item.children %}
              <li class="kss-nav__menu-item">
                <a class="kss-nav__menu-link" href="section-{{ menu_item.referenceURI }}.html#kssref-{{ menu_child.referenceURI }}">
                  <span class="kss-nav__ref {% if menu_child.isGrandChild %}kss-nav__ref-child{% endif %}">{{ menu_child.referenceNumber }}</span
                  ><span class="kss-nav__name">{{ menu_child.header }}</span>
                </a>
              </li>
            {% endfor %}
            </ul>
          {% endif %}
        </li>
      {% endfor %}
      </ul>
    </nav>

  </div>
  <div class="column-three-quarters">

    <article role="main">
    {% if homepage %}
      <div id="kssref-0" class="kss-section kss-section--depth-0 kss-overview">
        {{ homepage|raw }}
      </div>
    {% else %}

      {#
        Display each section, in order.

        The "root" element comes first in this loop, and can be detected using the
        "loop.first" variable as seen below.
      #}
      {% for section in sections %}
        {% set sectionElement = loop.first ? 'div' : 'section' %}
        <{{ sectionElement }} id="kssref-{{ section.referenceURI }}" class="kss-section kss-section--depth-{{ section.depth }}">

          {% set headerElement = (section.depth > 6) ? 'h6' : 'h' ~ section.depth %}
          <{{ headerElement }} class="heading-large kss-title--level-{{ section.depth }}">
            <a class="kss-title__permalink" href="#kssref-{{ section.referenceURI }}">
              <span class="heading-secondary">
                Section {{ section.referenceNumber }}
                <span class="kss-title__permalink-hash">
                  {{ hasNumericReferences ? '#permalink' : section.reference }}
                </span>
              </span>
              {{ section.header }}
            </a>
          </{{ headerElement }}>

          {% if section.description %}
            <div class="kss-description">
              {{ section.description|raw }}
            </div>
          {% endif %}

          {% for parameter in section.parameters %}
            {% if loop.first %}
              <div class="kss-parameters__title">Parameters:</div>
              <ul class="kss-parameters">
            {% endif %}
              <li class="kss-parameters__item">
                <div class="kss-parameters__name"><code>{{ parameter.name }}</code></div>
                <div class="kss-parameters__description">
                  {{ parameter.description|raw }}
                  {% if parameter.defaultValue %}
                    <div class="kss-parameters__default-value">
                      Defaults to: <code>{{ parameter.defaultValue }}</code>
                    </div>
                  {% endif %}
                </div>
              </li>
            {% if loop.last %}
              </ul>
            {% endif %}
          {% endfor %}

          {% if section.example %}

            <h2 class="heading-medium">Example{% if section.modifiers is not empty %}s{% endif %}</h2>

            <div class="kss-modifier__wrapper">

              {% if section.modifiers is not empty %}
                <div class="kss-modifier__default-name">
                  Default styling
                </div>
              {% endif %}

              <div class="kss-modifier__example">
                {{ section.example|raw }}
              </div>

              {% for modifier in section.modifiers %}
                <div class="kss-modifier__name">
                  {{ modifier.name }}
                </div>
                <div class="kss-modifier__example">
                  {{ modifier.markup|raw }}
                </div>
                <div class="kss-modifier__description">
                  {{ modifier.description|raw }}
                </div>
              {% endfor %}
            </div>
            {% if section.markup %}
              <div class="kss-markup">
                <pre class="code prettyprint linenums lang-html"><code data-language="html">{{ section.markup|escape('html') }}</code></pre>
              </div>
            {% endif %}
          {% endif %}

          {% if section.sourceFile.name %}
            <div class="kss-source">
              Source: <code>{{ section.sourceFile.name }}</code>, line {{ section.sourceFile.line }}
            </div>
          {% endif %}
        </{{ sectionElement }}>
      {% endfor %}
    {% endif %}
    </article>

  </div>
</div>

</div>

</main>

{% endblock %}